.form {
  margin-left: 10px;
  display: flex;
  align-items: center;
  height: 36px;
  width: 220px;
  border-radius: 4px;
  /* border: 1px solid red; */
  background-color: rgba(240, 240, 240, 255);
}

.form input {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: rgba(240, 240, 240, 255);
}

.searchicon {
  color: rgba(206, 206, 206, 255);
  margin: 4px 4px 4px 6px;
  font-size: 24px;
}

@media (min-width: 460px) {
  .form {
    height: 44px;
    width: 360px;
  }
}
