.main {
  margin: 0;
  width: 100%;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 92vh;
  justify-content: space-between;
}

@media (min-width: 460px) {
  .container {
    max-width: 960px;
    min-height: 88vh;
  }

  .main {
    min-height: 88vh;
  }
}
